{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
<div class="list-link-icons">
    <h1>Article List</h1>

{% for article in object_list %}  
<a href={% url 'article_detail' article.id %}><img src="/static/img/{{ article.id }}.svg"> </a>

{% endfor %}
</div>
<div class="hide-a-div">
{% for article in object_list %}  
<div  id="list-display-{{ article.id }}" class="list-wrap"> 
    <h1 class="list-page-h1">Article: {{ article.id }}</h1>    
    <div class="card mb-3 card-location" style="max-width: 540px">
        <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://picsum.photos/180/250?random={{ article.id }}" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a href={% url 'article_detail' article.id %}>{{ article.title }}</a></h5>
                    <p class="card-text card-article-body">{{ article.body }}</p> 
                    <p class="cont-reading"><a href={% url 'article_detail' article.id %}>...continue reading.</a></p>
                    <p class="card-footer-flex card-text"><small>{{ article.date|date:"M d, Y" }}</small><small class="text-muted"><em>{{ article.author }}</em> </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-wrap"><i onclick="prevSlide()" class="fas fa-arrow-alt-circle-left"></i><i onclick="nextSlide()" class="fas fa-arrow-alt-circle-right"></i></i></div>
</div>
{% endfor %}
</div>
{% endblock content %}